<?xml version="1.0"?>
<Config xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<SupportPlatfoms>
		<PlatformType>PC</PlatformType>
	</SupportPlatfoms>
	<APP_ID></APP_ID>
	<GatewayUrl>https://openapi.alipay.com/gateway.do</GatewayUrl>
	<Private_key></Private_key>
	<Sign_type>RSA2</Sign_type>
	<AlipayPublicCertPath></AlipayPublicCertPath>
	<AppCertPath></AppCertPath>
	<RootCertPath></RootCertPath>
	<GateWay>https://openapi.alipay.com/gateway.do</GateWay>
	<VeryfyUrl>https://mapi.alipay.com/gateway.do?service=notify_verify&amp;</VeryfyUrl>
	<AlipayAccount></AlipayAccount>
	<Logo>logo.gif</Logo>
</Config>