
@{
    ViewBag.Title = "主播列表";
}

<script src="~/Scripts/jquery.hiMallDatagrid.js"></script>
<script src="~/Scripts/jquery.himallLinkage.nocreate.js"></script>
<script src="~/Areas/SellerAdmin/Scripts/AnchorList.js?v=20200723"></script>

<div class="container">
    <ul class="nav nav-tabs-custom clearfix">
        <li class="active"><a>主播列表</a></li>
        <li><a href="@Url.Action("AddAnchor")">添加主播</a></li>
    </ul>
    <div class="pd-white-box">
        <div class="search-box" id="search-box">
            <form id="search_form" class="form-inline custom-inline" method="post" target="_blank">
                <div class="form-group">
                    <label class="label-inline w75" for="">主播名称</label>
                    <input class="form-control input-ssm" type="text" id="txtAnchorName" name="productName">
                </div>
                <div class="form-group">
                    <button type="button" id="searchButton" class="btn btn-primary btn-sm">搜 索</button>
                </div>
            </form>
        </div>

        <table id="list" class="table"></table>
    </div>
</div>

