
@{
    ViewBag.Title = "关于HiShop";
}

<div class="container">
    <div class="article">
        <img src="http://www.hishop.com.cn/hishop/images/about/gywm_03.jpg">
        <p>
            HiShop海商是国内的商城类电商软件及相关增值服务提供商，始于2002年，长期专注于为企业提供商城类电商软件及相关增值服务。</p>
        <p> 海商是国家高新技术企业，湖南省电子商务示范企业、阿里云湖南授权服务中心，阿里云心选商城电商类服务商合作伙伴。与阿里云、支付宝、腾讯云、微信支付、京东云、钉钉等一线企业服务厂商建立了长期的资深战略合作伙伴关系。</p>
           <p>
               海商秉承“让电商，更简单!”的电商服务使命，在迭代优化自身产品与服务的同时，通过长期专注于电商系统工具及相关增值服务的提供，帮助全球的企业提升零售经营效率、降低企业零售经营成本，面向终端用户输出更好的电商软件产品使用体验。</p>
        <p>10余年来，我们已经服务了像国酒茅台、金六福、厦门航空、酒鬼酒、广州酒家、贝婴美、爱婴岛、金锣集团、卡车之家、恒大、乔丹、远大、韩国LINE FRIENDS等数以万计的众多国内外知名企业。公司现有300余人的团队成员，近半的产品研发队伍通过持续的专注，为企业提供“小京东”多用户商城系统--Himall、全渠道零售商城系统--移动云商城、社区新零售团购系统--社区云店、微信分销商城系统--销客多、新零售线上线下一体化门店管理系统--友数等商城类电商软件及营销工具与相关增值服务。并通过深圳、北京、长沙等地的直营服务中心及全国的加盟合作伙伴对全国的企业用户更好的输出产品及当地的落地服务。

               为了达成“让每家企业做电商，都用上海商的产品”的梦想，HiShop一直秉承着“让电商，更简单”的使命，以“专注、极致、永不放弃”的态度，持续致力于帮助电商软件服务产业的发展，应对电商软件服务领域日新月异的挑战。
           </p>
    </div>
</div>

