<?xml version="1.0"?>
<OAuthJDCloudConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <AppId>1</AppId>
  <AppKey>1</AppKey>
  <AuthorizeURL>https://oauth2.jdcloud.com</AuthorizeURL>
  <ValidateContent />
  <DelOldClientId />
</OAuthJDCloudConfig>