<?xml version="1.0"?>
<PluginInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <PluginId>Himall.Plugin.Payment.UnionPay</PluginId>
  <DisplayName>银联PC端支付</DisplayName>
  <ClassFullName>Himall.Plugin.Payment.UnionPay.UnionPay,Himall.Plugin.Payment.UnionPay</ClassFullName>
  <Description>银联支付</Description>
  <PluginDirectory>D:\Hiishop_Mall\trunk\src\Himall.Web\plugins\Payment\Himall.Plugin.Payment.UnionPay</PluginDirectory>
  <Type>1</Type>
  <Author>Himall</Author>
  <Version>1.0</Version>
  <AddedTime>2018-04-16T14:07:16.7374496+08:00</AddedTime>
  <MinHimallVersion>1.0.0</MinHimallVersion>
  <MaxHimallVersion />
  <Enable>false</Enable>
  <DisplayIndex>0</DisplayIndex>
</PluginInfo>