<?xml version="1.0"?>
<PluginInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <PluginId>Himall.Plugin.Express.ZhongTieKuaiYun</PluginId>
  <DisplayName>中铁快运</DisplayName>
  <ClassFullName>Himall.Plugin.Express.ZhongTieKuaiYun.Service,Himall.Plugin.Express.ZhongTieKuaiYun</ClassFullName>
  <Description>中铁快运快递插件</Description>
  <PluginDirectory>D:\Hiishop_Mall\trunk\src\Himall.Web\plugins\Express\Himall.Plugin.Express.ZhongTieKuaiYun</PluginDirectory>
  <Type>2</Type>
  <Author>Himall</Author>
  <Version>1.0</Version>
  <AddedTime>2017-09-12T18:35:44.9572921+08:00</AddedTime>
  <MinHimallVersion>1.0.0</MinHimallVersion>
  <MaxHimallVersion />
  <Enable>false</Enable>
  <DisplayIndex>0</DisplayIndex>
</PluginInfo>