<?xml version="1.0"?>
<PluginInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <PluginId>Himall.Plugin.Payment.WeiXinPay_App</PluginId>
  <DisplayName>微信App支付</DisplayName>
  <ClassFullName>Himall.Plugin.Payment.WeiXinPay_App.Service,Himall.Plugin.Payment.WeiXinPay_App</ClassFullName>
  <Description>微信支付</Description>
  <PluginDirectory>D:\Hiishop_Mall\trunk\src\Himall.Web\plugins\Payment\Himall.Plugin.Payment.WeiXinPay_App</PluginDirectory>
  <Type>1</Type>
  <Author>Himall</Author>
  <Version>1.0</Version>
  <AddedTime>2018-04-16T14:07:16.7504593+08:00</AddedTime>
  <MinHimallVersion>1.1.0</MinHimallVersion>
  <MaxHimallVersion />
  <Enable>false</Enable>
  <DisplayIndex>0</DisplayIndex>
</PluginInfo>