<?xml version="1.0"?>
<PluginInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <PluginId>Himall.Plugin.OAuth.JDCloud</PluginId>
  <DisplayName>京东云</DisplayName>
  <ClassFullName>Himall.Plugin.OAuth.JDCloud.Service,Himall.Plugin.OAuth.JDCloud</ClassFullName>
  <Description>京东云信任登录插件</Description>
  <PluginDirectory>F:\NET\B 标品\H Himail标品\Himall3.3分支\src\Himall.Web\plugins\OAuth\Himall.Plugin.OAuth.JDCloud</PluginDirectory>
  <Type>0</Type>
  <Author>Himall</Author>
  <Version>1.0</Version>
  <AddedTime>2019-01-22T17:59:19.6169472+08:00</AddedTime>
  <MinHimallVersion>1.0.0</MinHimallVersion>
  <MaxHimallVersion />
  <Enable>false</Enable>
  <DisplayIndex>0</DisplayIndex>
</PluginInfo>