<?xml version="1.0"?>
<PluginInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <PluginId>Himall.Plugin.Payment.WeiXinPay_Native</PluginId>
  <DisplayName>微信PC端支付</DisplayName>
  <ClassFullName>Himall.Plugin.Payment.WeiXinPay_Native.WeiXinPay,Himall.Plugin.Payment.WeiXinPay_Native</ClassFullName>
  <Description>微信支付</Description>
  <PluginDirectory>D:\Hiishop_Mall\trunk\src\Himall.Web\plugins\Payment\Himall.Plugin.Payment.WeiXinPay_Native</PluginDirectory>
  <Type>1</Type>
  <Author>Himall</Author>
  <Version>1.0</Version>
  <AddedTime>2018-04-16T14:07:16.765469+08:00</AddedTime>
  <MinHimallVersion>1.1.0</MinHimallVersion>
  <MaxHimallVersion />
  <Enable>false</Enable>
  <DisplayIndex>0</DisplayIndex>
</PluginInfo>