<?xml version="1.0" encoding="utf-8" ?>
<PluginInfo>
  <PluginId>UnionPay</PluginId>
  <DisplayName>银联企业网银支付</DisplayName>
  <ClassFullName>Himall.Plugin.Payment.B2BUnionPay.B2BUnionPay,Himall.Plugin.Payment.B2BUnionPay</ClassFullName>
  <Description>银联企业网银支付插件</Description>
  <Type>1</Type>
  <Author>Himall</Author>
  <Version>1.0</Version>
  <MinHimallVersion>1.0.0</MinHimallVersion>
  <MaxHimallVersion></MaxHimallVersion>
  <Enable>0</Enable>
</PluginInfo>