<?xml version="1.0" encoding="utf-8" ?>
<Config>
	<APP_ID></APP_ID>
	<GatewayUrl>https://openapi.alipay.com/gateway.do</GatewayUrl>
	<Private_key></Private_key>
	<Sign_type>RSA2</Sign_type>
	<Logo>alipay.gif</Logo>
	<AlipayPublicCertPath></AlipayPublicCertPath>
	<AppCertPath></AppCertPath>
	<RootCertPath></RootCertPath>
	<Input_charset>utf-8</Input_charset>
	<Seller_email></Seller_email>
	<GateWay><![CDATA[http://wappaygw.alipay.com/service/rest.htm]]></GateWay>
	<VeryfyUrl><![CDATA[https://mapi.alipay.com/gateway.do?service=notify_verify&]]></VeryfyUrl>
	<GetDataService>mobile.securitypay.pay</GetDataService>
	<Logo>alipay.gif</Logo>
	<SupportPlatfoms>
		<PlatformType>Android</PlatformType>
	</SupportPlatfoms>
</Config>