
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>隐私政策</title>
</head>
<body>
    <div class="agreement_container">
        <div class="artice_box">
            <div class="title">隐私政策</div>
            <div class="artice">
                @Html.Raw(Model.AgreementContent)
            </div>
        </div>
    </div>
</body>
</html>
