
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>会员注册协议</title>
</head>
<body>
    <div class="agreement_container">
        <div class="artice_box">
            <div class="title">用户注册协议</div>
            <div class="artice">
                @Html.Raw(Model.AgreementContent)
            </div>
        </div>
    </div>
</body>
</html>
