<?xml version="1.0"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SupportPlatfoms>
    <PlatformType>WeiXinSmallProg</PlatformType>
  </SupportPlatfoms>
  <AppId>w7</AppId>
  <AppSecret>822be</AppSecret>
  <MCHID>122</MCHID>
  <Key>84EC635F</Key>
  <Logo>wx_logo.png</Logo>
  <pkcs12>apiclient_cert.p12</pkcs12>
  <Main_AppId>11123</Main_AppId>
  <Main_Mch_ID>fdf332</Main_Mch_ID>
  <SubKey>12321421421421</SubKey>
</Config>